@import "config";

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

html {
    font-family: 'Roboto Condensed', Helvetica;
    color: #1b201e;
    user-select: none;
    cursor: default;
    height: 100%;

    transition: opacity 300ms 150ms ease-out;
    will-change: opacity;

    &[hidden] {
        display: block;
        opacity: 0;
    }
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

body {
    display: flex;
    flex-flow: column;
    max-width: 1300px;
    padding: 0;
}

textarea, input, button {
    font-family: inherit;
    font-size: inherit;
}

@import "game-header";
@import "button";
@import "dialog";
@import "board";
